<div class="modal fade" [ngClass] = "{'custom-visible': isVisible}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">Plan {{plan?.title || "new"}}</h4>
          <button type="button" class="btn-close" (click)="close()"></button>
        </div>
  
        <div class="modal-body">
          <form [formGroup] = "form">
              
             <div class="input-group mb-3">
                <label class="input-group-text w-25" for="inputGroupSelect01">Status</label>
                <select class="form-select" id="inputGroupSelect01" formControlName = 'statusIndex'>
                  <option *ngFor="let status of statuses"
                           [value] = "status.id"
                           [selected] = "plan?.statusId == status?.id">{{status.statusName.charAt(0).toUpperCase() + status.statusName.slice(1)}}</option>
                </select>
              </div>

              <div class="input-group my-2">
                <span class="input-group-text w-25 text-wrap">Plan title:</span>
                <input type="text" class="form-control" placeholder="Title" formControlName = 'title'>
              </div>
              <div class="input-group">
                <span class="input-group-text w-25 text-wrap">Plan description:</span>
                <textarea class="form-control" aria-label="With textarea" formControlName = 'description'></textarea>
              </div>
          </form>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closeWithEdit()">Apply</button>
        </div>
  
      </div>
    </div>
</div>
