<form class="d-flex align-items-center flex-column" [formGroup] = "loginForm">
    <h2>Login:</h2>
    <div class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center justify-content-around">
        <label for="email" class="mx-2">Login</label>
        <label for="password" class="mx-2">Password</label>
    </div>
    <div class="d-flex flex-column align-items-center">
        <input type="text" id="email" formControlName="login" placeholder="Enter login"/>
        <input type="password" class="my-1" id="password" formControlName="password" placeholder="Enter password"/>
    </div>
    </div>
    <input type="submit" class="btn btn-secondary mt-2" (click)="login()" value="Login"/>
    <div class="mt-2 text-danger" *ngIf = "error != '' ">{{error}}</div>
</form>
